* {
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    53% {
        opacity: 1;
    }

}

@font-face {
    font-family: 'GerTT-TR-Light';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

iframe.ql-video {
    width:620px;
    height:410px;
}

.navbar-light .navbar-toggler {
    color: #fff;
}

.wpvContainer {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: stretch;
  align-items: stretch;
  grid-template-areas:
    "wpBoxLeft wpBoxRight";
}

.wpBoxLeft {
  align-self: center;
  grid-area: wpBoxLeft;
}

.wpBoxRight {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "textBoxV"
    "buttonBoxV";
  grid-area: wpBoxRight;
}

.textBoxV { grid-area: textBoxV; }

.buttonBoxV {
  align-self: end;
  grid-area: buttonBoxV;
}

.wphContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    "wpBoxTop"
    "wpBoxBottom";
  width: 320px;
  height: 850px;
}

.wpBoxTop {

  align-self: start;
  grid-area: wpBoxTop;
}

.wpBoxBottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "textBoxH"
    "buttonBoxH";
  grid-area: wpBoxBottom;
}

.textBoxH { grid-area: textBoxH; }

.buttonBoxH { grid-area: buttonBoxH; }
